.aside {
  background: yellow;
  grid-area: aside;
  min-height: 200px;
  padding-left: 10px;
}
.aside .nav {
  display: flex;
  flex-direction: column;
}
.aside a {
  color: blue;
  text-decoration: none;
}
.aside a.activLink {
  color: green;
  background: gold;
  padding: 5px;
}
