.appwrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-rows: 60px auto 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app_wrapper_content {
  background: #5e89ff;
  grid-area: main;
}
