.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogs a {
  text-decoration: none;
  color: blue;
}
.dialogs_items {
  padding: 10px;
}

.dialogs a.activedialog {
  color: gold;
}
.messages {
  padding: 10px;
}
